/* basic settings */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* INDEX */

/* mobile first */

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #353535;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10;
  max-width: 90%;
}

.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.search-button {
  background: #f15a24;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  transition-property: background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
  cursor: pointer;
  color: white;
  border: transparent;
  border-radius: 10px;
  gap: 10;
}

.search-button:hover {
  background: #cd4d1f;
}

.search-button:active {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.search-bar {
  font-size: 14px;
  border-color:gainsboro;
  padding: 5px;
  border-radius: 10px;
  transition-property: border-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
}

.header-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  gap: 5px;
}

.header-buttons button {
  background: #662d91;
  font-size: 14px;
  font-weight: 400;
  padding: 8px;
  text-align: center;
  transition-property: background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
  cursor: pointer;
  color: white;
  border: transparent;
  border-radius: 10px;
}

button:hover {
  background-color: #57267b;
}

button:active {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  max-width: 90%;
}

.mega-banner img {
  width: 90%;
}

.data-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  width: 90%;
}

.data1 {
  text-align: justify;
  border: 1px solid #662d91;
}

.data2 {
  text-align: justify;
  border: 1px solid #662d91;
}

.data3 {
  text-align: justify;
  border: 1px solid #662d91;
}

.categories-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.how-it-works {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}